label {
  font: 300 1rem Roboto, helvetica, sans-serif;
  color: #212121;
  /* Grey 900 */
  display: block;
  padding: 2px;
}

p {
  font: 300 1rem Roboto, helvetica, sans-serif;
  color: #212121;
  /* Grey 900 */
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.mainButtonBar {
  padding-top: 10px;
}

.topButtonBar {
  padding-bottom: 10px;
}


/* .mainButtonBar>* {
  margin: 30px 0;
} */

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
